* {
  margin: 0;
  padding: 0;
}

body {
  background: #3a3d47;
  font-family: Verdana;
}

.container {
  width: 1200px;
  background: white;
  margin: 10px auto;
}

.superior {
  background: #236e3a;
  overflow: hidden;
}

.logo {
  float: left;
  width: 300px;
  padding: 25px;
}
/*estilos para el menu de opciones*/
.menu {
  float: left;
  padding: 80px;
}

.opciones li {
  float: left;
  list-style: none;
}

.opciones li a {
  color: white;
  padding: 25px;
  text-decoration: none;
  border: 1px solid white;
}

.opciones li a:hover {
  background: #f3f703;
}

/*estilos para el cuerpo*/
.cuerpo {
  overflow: hidden;
}

.cuerpo-otro-color {
  overflow: hidden;
  background-color: antiquewhite;
  margin-bottom: 40px;
}

.parte2 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  float: left;
  margin-top: 70px;
  margin-right: 40px;
  line-height: 60px;
  padding: 40px 0 50px 200px;
}

.titulo {
  text-align: center;
  padding: 20px 0 15px 0;
  color: #ff7600;
  font-size: 35px;
}

.titulo2 {
  text-align: center;
  padding: 20px 0 15px 0;
  color: #0e0d0d;
  font-size: 30px;
}

.titulo-contacto {
  text-align: center;
  padding: 20px 0 15px 0;
  color: #0e0d0d;
  font-size: 30px;
}

/*estilos para el formulario*/

label {
  display: block;
  margin-top: 20px;
  letter-spacing: 1px;
}

.principal {
  display: block;
  margin: 0 auto;
  width: 510px;
  height: 430px;
  color: #000000;
  font-family: Arial;
}

form {
  margin: 0 auto;
  width: 400px;
}

input,
textarea {
  width: 380px;
  height: 27px;
  background: antiquewhite;
  border: 2px solid #f6f6f6;
  padding: 10px;
  margin-top: 5px;
  font-size: 10px;
  color: #000000;
}

textarea {
  height: 150px;
}

#submit {
  width: 85px;
  height: 35px;
  border: none;
  margin-top: 20px;
  margin-left: 90px;
  cursor: pointer;
}

#reset {
  width: 85px;
  height: 35px;
  border: none;
  margin-top: 20px;
  margin-left: 50px;
  cursor: pointer;
}

/*estilos del footer*/
.pie {
  background: #236e3a;
  overflow: hidden;
  padding: 20px 0 15px 0;
}

.izquierda {
  float: left;
  width: 550px;
  text-align: center;
  padding-left: 28%;

}

.derecha {
  float: left;
  width: 550px;
  padding: 20px;
  text-align: center;
}

.abajo {
  text-align: center;
  color: white;
  font-size: 12px;
  padding: 10px 0 15px 0;
}

.siguenos {
  text-align: center;
  color: white;
  padding: 20px;
}

.redes a:hover {
  background: white;
  padding: 30px 5px 5px 5px;
}

